* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --grid-square-size: 3rem;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.board-container {
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(10, var(--grid-square-size));
  grid-template-columns: repeat(10, var(--grid-square-size));
  gap: 2px;
  align-self: center;
  justify-self: center;
}

.board-container > h2 {
  position: absolute;
  top: 200px;
}

.grid-square {
  border: 1px solid black;
  border-radius: 2px;
  background-color: rgb(142, 142, 142);
  height: var(--grid-square-size);
  width: var(--grid-square-size);
}

/* Style grid positions containing ships */
.ship {
  background-color: orange;
}

.missed-shot {
  background-color: black;
}

.hit {
  background-color: green;
}

.hide {
  display: none;
}

.gameover {
  position: absolute;
  font-size: 15vw;
  align-self: center;
  justify-self: center;
}

.ship-container {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, var(--grid-square-size));
  gap: 2px;
}
#shipToPick0 {
  display: grid;
  grid-template-columns: repeat(5, var(--grid-square-size));
}
#shipToPick1 {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-square-size));
}
#shipToPick2 {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-square-size));
}
#shipToPick3 {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-square-size));
}
#shipToPick4 {
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(2, var(--grid-square-size));
}

#shipToPick0 > .ship,
#shipToPick1 > .ship,
#shipToPick2 > .ship,
#shipToPick3 > .ship,
#shipToPick4 > .ship {
  width: var(--grid-square-size);
  height: var(--grid-square-size);
  border: 1px solid black;
}
