* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --grid-square-size: 3rem;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(223, 223, 223);
  box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 27px 8px rgba(0, 0, 0, 0.75) inset;
}
.container > .board-container {
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(10, var(--grid-square-size));
  grid-template-columns: repeat(10, var(--grid-square-size));
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  gap: 2px;
  align-self: center;
  justify-self: center;
}
.board-container:last-of-type {
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(10, var(--grid-square-size));
  grid-template-columns: repeat(10, var(--grid-square-size));
  grid-column: 3 / 4;
  gap: 2px;
  align-self: center;
  justify-self: center;
}

.container > h2 {
  font-size: 3rem;
  grid-column: 2/3;
  align-self: flex-end;
  justify-self: center;
}
.container > h2:last-of-type {
  grid-column: 3 / 4;
}

.grid-square {
  border: 1px solid black;
  border-radius: 2px;
  background-color: rgb(142, 142, 142);
  height: var(--grid-square-size);
  width: var(--grid-square-size);
}

/* Style grid positions containing ships */
.ship {
  background-color: orange;
}

.missed-shot {
  background-color: black;
}

.hit {
  background-color: green;
}

.hide {
  display: none;
}

.gameover {
  position: absolute;
  font-size: 15vw;
  align-self: center;
  justify-self: center;
}

.ship-container {
  display: grid;
  grid-template-rows: repeat(5, var(--grid-square-size));
  grid-column: 1 / 2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  gap: 2px;
}
#shipToPick0 {
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(5, var(--grid-square-size));
}
#shipToPick0.vertical {
  grid-template-columns: none;
  grid-template-rows: repeat(3, var(--grid-square-size));
}
#shipToPick1 {
  gap: 2px;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-square-size));
}
#shipToPick1.vertical {
  grid-template-columns: none;
  grid-template-rows: repeat(3, var(--grid-square-size));
}
#shipToPick2 {
  gap: 2px;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-square-size));
}
#shipToPick2.vertical {
  grid-template-columns: none;
  grid-template-rows: repeat(3, var(--grid-square-size));
}
#shipToPick3 {
  gap: 2px;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-square-size));
}
#shipToPick3.vertical {
  grid-template-columns: none;
  grid-template-rows: repeat(3, var(--grid-square-size));
}
#shipToPick4 {
  gap: 2px;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(2, var(--grid-square-size));
}
#shipToPick4.vertical {
  grid-template-columns: none;
  grid-template-rows: repeat(2, var(--grid-square-size));
}

#shipToPick0 > .ship,
#shipToPick1 > .ship,
#shipToPick2 > .ship,
#shipToPick3 > .ship,
#shipToPick4 > .ship {
  width: var(--grid-square-size);
  height: var(--grid-square-size);
  border: 1px solid black;
}
